@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/fira-code.min.css");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/fira-sans.min.css");

* {
    font-family: "Fira Sans", sans-serif;
    --color-background: #FEFFFF;
    --color-primary: #CFCDF3;
    --color-primary-light: #ededff;
    --color-primary-dark: #645E9D;
    --color-primary-darker: #392B58;
    --color-primary-darkest: #2D0320;
    --color-accent: #FFC857;
}

html {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("background.png");
    background-repeat: repeat;
}

a {
    color: var(--color-primary-dark);
}

a:visited {
    color: var(--color-primary-darker);
}

#content {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 800px;
    margin: .8rem;
    border-radius: .8rem;
    width: 100%;
    background: var(--color-background);
}

header {
    padding: 1em 2em;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

#main-section {
    height: 100%;
    overflow-y: auto;
    padding: 1em 2em;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

footer {
    padding: 1em 2em;
    margin-bottom: .4rem;
    font-size: 80%;
}

.inline-form {
    display: flex;
    flex-direction: row;
    align-items: bottom;
    margin-bottom: .2rem;
}

.inline-form-wrap {
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .inline-form-wrap-sm {
        flex-wrap: wrap;
    }
    .inline-form-wrap-sm .inline-form-item {
        margin-bottom: .2rem;
    }
}

.inline-form-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.inline-form-item {
    margin-right: .2rem;
}

.inline-form-item:last-child {
    margin-right: 0;
}

.inline-form-wrap .inline-form-item {
    margin-bottom: .2rem;
}

.inline-form-item-large {
    width: 100%;
}

.inline-form-item label {
    font-size: small;
}

input,
select,
button {
    font: inherit;
    padding: .4rem;
    border-radius: .2rem;
    border: 1px solid var(--color-primary-dark);
    background: var(--color-primary-light);
}

a:focus,
input:focus,
select:focus,
button:focus {
    outline: 1px solid var(--color-primary-darker);
}

input[type="submit"],
button {
    border-color: var(--color-primary-darker);
    background-color: var(--color-primary-dark);
    color: white;
}

input[type="submit"]:not([disabled]),
button:not([disabled]) {
    cursor: pointer;
}

input[type="submit"]:hover:not([disabled]),
button:hover:not([disabled]) {
    border-color: var(--color-primary-darkest);
    background-color: var(--color-primary-darker);
}

input[type="submit"]:disabled,
button:disabled {
    opacity: .6;
}

details summary {
    font-size: small;
    margin-bottom: .2rem;
    opacity: .5;
    user-select: none;
    cursor: pointer;
}

#progress-container {
    position: relative;
    padding-bottom: .8rem;
}

#progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: .2rem;
    border: 1px solid var(--color-primary-darker);
    height: .4rem;
}

#progress::-moz-progress-bar,
#progress::-webkit-progress-bar {
    background-color: var(--color-primary-dark);
}

.hidden {
    display: none;
}

.result {
    margin-bottom: .2rem;
}

.prefix,
.letter,
.letter-text,
.score {
    font-family: "Fira Code", monospace;
}

.letter {
    position: relative;
}

.letter-text {
    position: relative;
    z-index: 2;
}

.letter-1:hover::before,
.letter-2:hover::before,
.letter-3:hover::before,
.letter-4:hover::before,
.letter-5:hover::before {
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 2px solid var(--color-accent);
    pointer-events: none;
    z-index: 1;
}

.result:hover .letter-lowest {
    background:  #ff000020;
}

.result:hover .letter-highest {
    background: #00ff0020;
}

.letter:hover::after {
    position: absolute;
    content: " ";
    bottom: 0;
    right: 0;
    border-bottom: 2px solid var(--color-primary-dark);
    z-index: 1;
}

.letter-1:hover::before {
    content: "  ";
}

.letter-2:hover::before {
    content: "   ";
}

.letter-3:hover::before {
    content: "    ";
}

.letter-4:hover::before {
    content: "     ";
}

.letter-5:hover::before {
    content: "      ";
}